{% extends 'base.html' %}

{% block title %}Movies:AddMovie{% endblock title %}

{% block body %}
<header>
<h1>신규 영화 추가</h1>
</header>

<form method="POST" class="form-inline my-2 my-lg-0">
  {% csrf_token %}
  {% comment %} get 할 때 name 으로 받음 {% endcomment %}
  <input class="form-control mr-sm-2" type="text" placeholder="영화 제목" id="movie" name="movie">
  <input type="number" name="listNM" id="listNM" value='0'>
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">검색</button>
</form>
<br>
<form action="{% url 'movies:savemovie' %}" method="POST">
  {% csrf_token %} 
  {{ form.as_p }}
  <button type="submit">등록</button>
</form>

<a href="{% url 'movies:recommendlist' %}">요청 확인</a>
<p>확인용</p>
<p>확인용</p>
<p>확인용</p>
<p>확인용</p>
<p>확인용</p>
{% endblock body %}

{% comment %} 
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form> {% endcomment %}