{% extends 'base.html' %}
{% load static %}

{% block title %}Main{% endblock title %}

{% block body %}
<nav class="navbar navbar-light bg-light">
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  btn
  </button>
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    <i class="fas fa-biohazard" width="30" height="30" > Home</i>
    {% comment %} <img src="/static/movies/images/peng.jpg" width="30" height="30" class="d-inline-block align-top" alt="peng">
    HOME {% endcomment %}
  </a>
  <a href="#" class="text-light">전체영화조회</a>
  <a href="#" class="text-light">추천영화조회</a>
  <a href="#" class="text-light">자유게시판</a>
  <a href="{% url 'movies:recommendation' %}">영화요청하기</a>
</nav>

<div>
  {% comment %} movie list {% endcomment %}
  {% for movie in movies %}
    <a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a>
  {% endfor %} 
</div>

<div class="collapse" id="collapseExample">
  <div class="row justify-content-left">
    <div class="col-md-2">
      <div class="container">
        <div class="card">
          <div class="card-header">내 정보 보기</div>
            <div class="card-body">
                {% comment %} 유저레벨별 캐릭터 img 들어갈 예정 {% endcomment %}
                <div class="lev_img">
                  <img src="/static/movies/images/pengpeng.jpg" alt="lev2">
                </div>
                {% comment %} 로그인(나중에 지울거) {% endcomment %}
                <a href=" {% url 'accounts:login' %} ">로그인</a>
                <p>{{ user.nickname }} 님, 환영띠</p><br>

                <p>lev.{{ user.level }}</p>

                <a href="{% url 'accounts:update' %}">내 정보수정</a><br>

                <a class="logout_modal" href=" {% url 'accounts:logout' %}" data-toggle="modal" data-target="#exampleModal" >로그아웃</a><br>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>로그아웃ㄱㄱ?</p>
                      </div>
                      <div class="modal-footer">
                        <a href=" {% url 'movies:index' %} " class="btn btn-secondary" data-dismiss="modal" role="button">취소</a>
                        <a href=" {% url 'accounts:logout' %} " class="btn btn-primary" role="button">로그아웃</a>
                      </div>
                    </div>
                    </div>
                    </div>
                <a href=" {% url 'accounts:liguild' %} ">길드가입</a><br>
                <a href=" {% url 'accounts:liguild' %} ">길드탈퇴</a><br>

                {% comment %} 관리자만 영화등록 ㄱㄴ {% endcomment %}
                <a href="{% url 'movies:addmovie' %}">영화등록</a><br>
                <a href=" {% url 'accounts:liguild' %} ">길드목록보기</a><br>

                <a href="{  }"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}
