{% load static %}

<html>
	<head>
		<title>Landing Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="{% static 'movies/css/intro.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'movies/css/intro2.css' %}" /></noscript>

		<link rel="shortcut icon" href="{% static 'movies/images/favicon.png' %}" type="image/x-icon">
	</head>

	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Welcome</h1>
						<p>
						<a href=" {% url 'accounts:login' %} ">로그인</a>
						 &nbsp;&bull;&nbsp; <a href=" {% url 'accounts:signup' %} ">회원가입</a></p>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy;  2019-2119 SadHacking Company All rights reserved.</li>
							</ul>
						</div>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>