{% extends 'base.html' %}
{% load static %}

{% block title %}Movie List{% endblock title %}

{% block body %}

  {% comment %} 영화 등록 요청 링크 {% endcomment %}
  <a href="{% url 'movies:recommendation' %}">영화 등록 요청하기</a>

		<section class="tiles">
    {% for movie in movies %}
								<article class="style1">
									<span class="image">
										<img src="{{ movie.poster_url }}" alt="" />
                    
									</span>
									<a href="generic.html">
										<a href="{% url 'movies:detail' movie.pk %}"><h2>{{ movie.title }}</h2></a>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
                {% endfor %}
							</section>
						</div>
					</div>

{% endblock body %}


