{% extends 'base.html' %}
{% load static %}

{% block title %}Movies:MovieList{% endblock title %}

{% block body %}
<header>
<h1>영화추천</h1>
<p>회원 레벨에 맞는 영화를 추천해 드립니다! </p>
<p>당신은 현재 {{ user.level }} 레벨 입니다! </p>
</header><hr>
  {% comment %} 영화 등록 요청 링크 {% endcomment %}
	<div style="text-align:right">
  <a href="{% url 'movies:recommendation' %}" class="btn btn-outline-light" >없는 영화 요청하기</a>
</div>
		<section class="tiles">
    {% for movie in movies %}
								<article class="style1">
									<span class="image">
										<img src="{{ movie.poster_url }}" alt="" />
                    
									</span>
									<a href="generic.html">
										<a href="{% url 'movies:detail' movie.pk %}"><h2>{{ movie.title }}</h2></a>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
                {% endfor %}
							</section>
						</div>
					</div>

{% endblock body %}


