{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<title>{% block title %}{% endblock title %}</title>

		{% comment %} favicon 적용 {% endcomment %}
  	<link rel="shortcut icon" href="{% static 'movies/images/favicon.png' %}" type="image/x-icon">

		{% comment %} bootstrap CDN {% endcomment %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		{% comment %} fontawesome CDN {% endcomment %}
		<script src="https://kit.fontawesome.com/23ba31e91b.js" crossorigin="anonymous"></script>
	
		{% comment %} main.css {% endcomment %}
		<link rel="stylesheet" href="{% static 'movies/css/base.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'movies/css/base2.css' %}" /></noscript>

    {% comment %} Axios {% endcomment %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body class="is-preload">

		{% comment %} BGM 재생 {% endcomment %}
		{% comment %} <iframe src="{% static 'movies/audio/soundtrack1.mp3' %}" allow="autoplay" id="audio" style="display:none"></iframe> {% endcomment %}
		{% comment %} <audio id="audio" autoplay>
		<source src="={% static 'movies/audio/silence.mp3' %}">
		</audio> {% endcomment %}

		<!-- Wrapper -->
			<div id="wrapper">
			{% comment %} <div id="bg"> <img src=" {% static 'movies/images/base/main_bg.jpg' %} " alt="main_bg_img"> </div> {% endcomment %}
			
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'movies:index' %}" class="logo">
									<span class="symbol"><img src=" {% static 'movies/images/favicon.png' %} " alt="ghost"></span><span class="title">Z:omBie</span>
								</a>
                
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<p>{{ user.username }} 님, 환영합니다!</p><br>
						<h2>Menu</h2><hr>
						<ul>
							<li><a href=" {% url 'movies:index' %} ">Home</a></li>
							{% comment %} 여기에서 레벨, 비번, 닉넴수정 가능 {% endcomment %}
              {% if user.is_staff %}
              <li><a href="{% url 'accounts:index' %}">회원정보조회</a></li>
              {% else %}
              <li><a href="{% url 'accounts:update' %}">내정보조회</a></li>
              {% endif %}
							<li><a href="{% url 'movies:movielevellist' %}">영화조회</a></li>
							<li><a href=" {% url 'articles:index' %} ">자유게시판</a></li>
						</ul><hr>

						{% comment %} 로그아웃 {% endcomment %}
            <a class="logout_modal btn btn-light" href=" {% url 'accounts:logout' %}" data-toggle="modal" data-target="#exampleModal" role="button" >로그아웃</a><br>
	
						{% comment %} 영화등록 {% endcomment %}
            {% comment %} 스태프한테만 버튼 보임 {% endcomment %}
            {% if user.is_staff %}
              <form action="{% url 'movies:addmovie' %}">
              <button class="btn btn-light">영화등록</button>
              </form>            
            {% endif %}
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>좀비영화 추천사이트</h1><hr />
							</header>
		
				{% block body %}{% endblock body %}


			</div>
		</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy;  2019-2119 SadHacking Company All rights reserved.</li>
							</ul>
						</div>
					</footer>
		<!-- Scripts -->
    <script src=" {% static 'movies/js/jquery.min.js' %} "></script>
    <script src=" {% static 'movies/js/browser.min.js' %}"></script>
    <script src=" {% static 'movies/js/breakpoints.min.js' %}"></script>
    <script src=" {% static 'movies/js/util.js' %}"></script>
    <script src=" {% static 'movies/js/main.js' %}"></script>
	</body>
</html>