{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<title>{% block title %}{% endblock title %}</title>

		{% comment %} bootstrap CDN {% endcomment %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		{% comment %} fontawesome CDN {% endcomment %}
		<script src="https://kit.fontawesome.com/23ba31e91b.js" crossorigin="anonymous"></script>
	
		{% comment %} main.css {% endcomment %}
		<link rel="stylesheet" href="{% static 'movies/css/base.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'movies/css/base2.css' %}" /></noscript>
	</head>

	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
			{% comment %} <div id="bg"> <img src=" {% static 'movies/images/base/main_bg.jpg' %} " alt="main_bg_img"> </div> {% endcomment %}
			
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src=" {% static 'movies/images/base/logo.svg' %}" alt="" /></span><span class="title">Phantom</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<p>{{ user.username }} 님, 환영합니다!</p><br>
						<h2>Menu</h2><hr>
						<ul>
							<li><a href=" {% url 'movies:index' %} ">Home</a></li>
							{% comment %} 여기에서 레벨, 비번, 닉넴수정 가능 {% endcomment %}
							<li><a href="{% url 'accounts:update' %}">내정보조회</a></li>
							<li><a href="{% url 'movies:movielevellist' %}">영화조회</a></li>
							<li><a href="#">자유게시판</a></li>
						</ul><hr>

						{% comment %} 로그아웃 {% endcomment %}
            <a class="logout_modal btn btn-light" href=" {% url 'accounts:logout' %}" data-toggle="modal" data-target="#exampleModal" role="button" >로그아웃</a><br>
	
						{% comment %} 영화등록 {% endcomment %}
						<form action="{% url 'movies:addmovie' %}">
						<button class="btn btn-light">영화등록</button>
						</form>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>당신의 레벨에 맞는 좀비영화를 추천해드립니다!</h1><br />
								<p>국내외에서 뽑은 숨은/유명 좀비영화 58선</p>
							</header>
		
				{% block body %}{% endblock body %}


			</div>
		</div>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li>
							</ul>
						</div>
					</footer>
		<!-- Scripts -->
    <script src=" {% static 'movies/js/jquery.min.js' %} "></script>
    <script src=" {% static 'movies/js/browser.min.js' %}"></script>
    <script src=" {% static 'movies/js/breakpoints.min.js' %}"></script>
    <script src=" {% static 'movies/js/util.js' %}"></script>
    <script src=" {% static 'movies/js/main.js' %}"></script>
	</body>
</html>