{% extends 'base.html' %}

{% block title %}회원 관리 페이지{% endblock title %}

{% block body %}
{% for user in users %}
  ID: {{ user.username }} |
  nickname: {{ user.nickname }} |
  age: {{ user.age }} |
  group_id: {{ user.group_id }} | 
  level: {{ user.level }} |
  is_staff: {{ user.is_staff }}
  <br>
{% endfor %}
  {% comment %} <a href="{% url 'accounts:signup' %}">회원가입</a>
  <a href="{% url 'accounts:login' %}">로그인</a>
  <a href="{% url 'accounts:logout' %}">로그아웃</a> {% endcomment %}
  <a href="{% url 'accounts:delete' %}">삭제</a>
  <a href="{% url 'accounts:update' %}">수정</a>
  <a href="{% url 'accounts:password' %}">비밀번호 수정</a>
  <a href="{% url 'accounts:liguild' %}">길드목록보기</a>
{% endblock body %}