{% extends 'base.html' %}

{% block title %}Admin Page{% endblock title %}

{% block body %}

<table class="table">
  <thead>
    <tr class="text-light">
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Nickname</th>
      <th scope="col">Age</th>
      <th scope="col">Group</th>
      <th scope="col">Level</th>
      <th scope="col">Staff</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr class="text-light">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.group_id }}</td>
      <td>{{ user.level }}</td>
      <td>{{ user.is_staff }}</td>
    </tr>    
    {% endfor %}
  </tbody>
</table>
  {% comment %} <a href="{% url 'accounts:signup' %}">회원가입</a>
  <a href="{% url 'accounts:login' %}">로그인</a>
  <a href="{% url 'accounts:logout' %}">로그아웃</a> {% endcomment %}
  {% comment %} <a href="{% url 'accounts:delete' %}">삭제</a>
  <a href="{% url 'accounts:update' %}">수정</a>
  <a href="{% url 'accounts:password' %}">비밀번호 수정</a>
  <a href="{% url 'accounts:liguild' %}">길드목록보기</a>
   {% endcomment %}
{% endblock body %}