{% extends 'base.html' %}

{% block title %}Admin Page{% endblock title %}

{% block body %}
<header><h1>관리자 전용 페이지</h1></header><hr>
  {% comment %} <div class="btn-group" role="group" aria-label="Basic example" style="align:center"> {% endcomment %}
    {% comment %} <button type="button" class="btn btn-light" style="margin-left:10px"><a href="{% url 'accounts:delete' %}">삭제</a></button>
    <button type="button" class="btn btn-light" style="margin-left:10px"><a href="{% url 'accounts:update' %}">수정</a></button>
    <button type="button" class="btn btn-light" style="margin-left:10px"><a href="{% url 'accounts:password' %}">비밀번호 수정</a></button> {% endcomment %}
    {% comment %} <button type="button" class="btn btn-light" style="margin-left:10px"><a href="{% url 'accounts:liguild' %}">길드목록보기</a></button> {% endcomment %}
  {% comment %} </div><hr> {% endcomment %}

{% for user in users %}
  ID: {{ user.username }} |
  nickname: {{ user.nickname }} |
  age: {{ user.age }} |
  group_id: {{ user.group_id }} | 
  level: {{ user.level }} |
  is_staff: {{ user.is_staff }}
  <br>
{% endfor %}
{% endblock body %}