{% extends 'base.html' %}

{% block title %}MakeGuild{% endblock title %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
            <h3>길드생성</h3>
            </div>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">길드생성</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}