{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>

  {% comment %} bootstrap CDN {% endcomment %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  {% comment %} bootstrap CDN {% endcomment %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  

  {% comment %} {% static 'accounts/css/accounts.css' %}
  {% static 'accounts/css/accounts2.css' %} {% endcomment %}

  {% comment %} templates {% endcomment %}
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}" />
  <noscript><link rel="stylesheet" href="{% static 'accounts/css/accounts2.css' %}" /></noscript>

</head>
<body class="is-preload">
  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <section id="main">
          <header>
            <span class="avatar"><img src="/static/accounts/images/tmp_pensu.jpg" alt="tmp_img" width="200px" height="auto"/></span>
            <h1>회원가입</h1>
            <p>Be a Walker!</p>
          </header>
          <hr />
          
       				<form method="post" action="#">
               {% csrf_token %}
							<div class="fields">
								<div class="field">
                {{ form.as_p }}
									<input type="checkbox" id="human" name="human" /><label for="human">나는 사람입니다</label>
								</div>
								<div class="field">
									<label>로봇인가요?</label>
									<input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
									<input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
								</div>
							</div>

							<ul class="actions special">
                {% comment %} <button type="submit">가입하기</button> {% endcomment %}

{% comment %} 회원가입 modal {% endcomment %}
                <button class="signup_modal"type="submit" data-toggle="modal" data-target="#exampleModal" >가입하기</button>

							   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">SignUp</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>회원가입 </p>
                      </div>
                      <div class="modal-footer">
                        <a href=" {% url 'movies:index' %} " class="btn btn-secondary" data-dismiss="modal" role="button">취소</a>
                        <a href=" {% url 'accounts:logout' %} " class="btn btn-primary" role="button">로그아웃</a>
                      </div>
                    </div>
                    </div>
                    </div>


							</ul>
						</form>
								{% comment %} <li><a href=" {% url 'accounts:signup' %} " class="button">회원가입</a></li> {% endcomment %}
                <form action=" {% url 'movies:intro' %} ">
                  <button>돌아가기</button>
                </form>
                {% comment %} <li><a href=" {% url 'movies:intro' %} " class="button">돌아가기</a></li> {% endcomment %}
						<hr />
        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="copyright">
            <li>&copy; SadHacking </li><li>Designed by: Haily Kim </li>
          </ul>
        </footer>

    </div>

  <!-- Scripts -->
    <script>
      if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }
    </script>

</body>
</html>