{% extends 'base.html' %}

{% block title %}Article::Index{% endblock title %}

{% block body %}
<h2>Article List</h2>
{% if user.is_authenticated %}
<a href="{% url 'articles:create' %}">[Create]</a>
{% else %}
<p>로그인해주세요</p>
<a href="{% url 'accounts:signup' %}">가입?</a>
{% endif %}
<hr>
{% for article in articles  %}
<div>
  <h3>{{ article.pk }}. {{ article.title }}</h3> 
  <p>작성자: {{ article.user }}</p>
  <a href="{% url 'articles:detail' article.pk %}">[Detail]</a>
</div>
<br>
{% endfor %}
{% endblock body %}