{% extends 'base.html' %}

{% block title %}Article::Index{% endblock title %}

{% block body %}
<h2>Article List</h2>

{% comment %} 로그인 확인 {% endcomment %}
{% if user.is_authenticated %}
<a href="{% url 'articles:create' %}">[Create]</a>
{% else %}
<p>로그인해주세요</p>
<a href="{% url 'accounts:signup' %}">가입?</a>
{% endif %}

{% comment %} 글 목록 {% endcomment %}
<hr>
{% for article in articles  %}
<div>
  {% comment %} is_staff 일때만 strong tag {% endcomment %}
  {% if article.user.is_staff %}
  <strong>{{ article.pk }}. {{ article.title }} by {{ article.user }}</strong>
  {% else %}
  <h3>{{ article.pk }}. {{ article.title }} by {{ article.user }}</h3>
  {% endif %} 
  <a href="{% url 'articles:detail' article.pk %}">[Detail]</a>
</div>
<br>
{% endfor %}
{% endblock body %}